/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

.zippy{
    border: 1px solid #ccc;
}

.zippy-heading{
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
}